@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark {
  --bg: #111;
  --bgalt: #181818;
  --default: #eee;
  --primary: #eee;
  --tbody: #161616;
  --tbodyalt: #1c1c1c;
}

.theme-light {
  --bg: #1572a1;
  --bgalt: #eee;
  --default: #111;
  --primary: #eee;
  --tbody: #e9e9e9;
  --tbodyalt: #e3e3e3;
}

body {
  font-family: "Montserrat", sans-serif;
  @apply bg-bg;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #222;
  box-shadow: inset 0 0 5px #333;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply text-default;
}

th {
  @apply text-primary;
}

table {
  @apply shadow-lg;
}

@media only and (min-width: 1024px) {
  .table {
    min-width: 600px;
  }
}
